/* === Sidebar === */
.sidebar{
    background-color: #3B364A;
    width: 300px;
    height: 100%;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidebar li{
    text-decoration: none;
    display: block;
}

.sidebar a{
    margin-top: 24px;
    display: block;
    padding: 16px 20px 5px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #b1b1b1;
}

a:hover{
    color:white
}

/* === Header === */
.header {
    margin-left: 300px;
    background-color: #51526D;
    width: 100%;
    height: 60px;
    top: 0; left: 0;
    position: absolute;
}

/* === Content === */
.content{
    margin-left: 300px;
    margin-top: 60px;
    top: 0; left: 0;
    width: 100%;
    position: absolute;
}

.row{
    display: flex;
    background-color: #b1b1b1;
    padding: 32px;
    gap: 32px;
    
}

.card{
    background-color: rgb(212, 211, 211);
}

/*First Row*/
.first div{
    height: 500px;
}

.primary{
    width: 710px;
}

.secondary{
    width: 340px;
}

/*Second Row*/
.second div{
    height: 340px;
    width: 340px;
}
